<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HallBookingManagementSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <HallBookingManagementSystem.Properties.Settings>
            <setting name="ProjectName" serializeAs="String">
                <value>Hall Booking Management System</value>
            </setting>
            <setting name="DesignedDvelopedBy" serializeAs="String">
                <value>Mr. Zuckerberg
Mr. Pichai
Mr. Gates</value>
            </setting>
            <setting name="ConnestionStringFull" serializeAs="String">
                <value>Server=.\\sqlexpress19;Database=HallBookingDb;User Id=sa;Password=sqlexpress@19;</value>
            </setting>
            <setting name="ConnestionStringShort" serializeAs="String">
                <value>Server=.\\sqlexpress19;Database=HallBookingDb;Integrated Security=True;</value>
            </setting>
            <setting name="VenueId" serializeAs="String">
                <value>1</value>
            </setting>
        </HallBookingManagementSystem.Properties.Settings>
    </userSettings>
</configuration>